<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find little_boy_sdf)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="little_boy_urdf" />
        <arg name="x" value="0.0"/>
        <arg name="y" value="0.0"/>
        <arg name="z" value="1.0"/>
        <arg name="roll" value="0.0"/>
        <arg name="pitch" value="0.0"/>
        <arg name="yaw" value="0.0"/>
        <arg name="sdf_robot_file" value="$(find little_boy_sdf)/models/little_boy_urdf/model.sdf" />
    </include>
</launch>